

<% @questions.order("created_at").each do |question| %>
  <div>
    <div class="container">
      <div class="question_label">
        <%= question.question %> <b> Total Votes: <%= question.votes %></b>
      </div>
    </div>
    
    <div class="container">
      <table class="table table-bordered table-striped">
          <tr>
            <th>Choices</th>
            <th>Total Votes</th>   
            <th>Vote Percentage</th>
            <th>Gender</th>
            <th>15 or lower</th>
            <th>16 - 35</th>
            <th>36 or higher</th>
          </tr>
        <% question.answers.order(:order).each do |answer| %>
            <tr>
              <td><%= answer.answer %></td>
              <td><%= answer.votes %></td>    
              <td><%= ( (answer.votes.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td>
                  Male: <%= ( (SurveyAnswer.where(:answer_id => answer.id).where(:gender => 'Male').count.to_f / question.votes) * 100 ).round(0) %>%
                  Female: <%= ( (SurveyAnswer.where(:answer_id => answer.id).where(:gender => 'Female').count.to_f / question.votes) * 100 ).round(0) %>%
              </td>
              <td><%= ( (SurveyAnswer.where(:question_id => question.id).where(:age => '15 or lower').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:question_id => question.id).where(:age => '16 - 35').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:question_id => question.id).where(:age => '36 or higher').count.to_f / question.votes) * 100 ).round(0) %>%</td>
            </tr>
        <% end %>
      </table>
    </div>  
  </div>
<% end %>
