

<% @questions.each do |question| %>
  <div>
    <div class="question_label">
      <%= question.question %> <b> Total Votes: <%= question.votes %></b>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped">
          <tr>
            <th>Choices</th>
            <th>Total Votes</th>   
            <th>Vote Percentage</th>
            <th>Gender</th>
            <th>15 or lower</th>
            <th>16 - 20</th>
            <th>21 - 25</th>
            <th>26 - 30</th>
            <th>31 - 35</th>
            <th>36 or higher</th>
          </tr>
        <% for answer in question.answers %>
            <tr>
              <td><%= answer.answer %></td>
              <td><%= answer.votes %></td>    
              <td><%= ( (answer.votes.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td>
                  Male: <%= ( (SurveyAnswer.where(:gender => 'Male').count.to_f / question.votes) * 100 ).round(0) %>%
                  Female: <%= ( (SurveyAnswer.where(:gender => 'Female').count.to_f / question.votes) * 100 ).round(0) %>%
              </td>
              <td><%= ( (SurveyAnswer.where(:age => '15 or lower').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:age => '16 - 20').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:age => '21 - 25').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:age => '26 - 30').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:age => '31 - 35').count.to_f / question.votes) * 100 ).round(0) %>%</td>
              <td><%= ( (SurveyAnswer.where(:age => '36 or higher').count.to_f / question.votes) * 100 ).round(0) %>%</td>
            </tr>
        <% end %>
      </table>
    </div>  
  </div>
<% end %>
