

<% @questions.each do |question| %>
  <div>
    <div class="question_label">
      <%= question.question %> <b>Votes: <%= question.votes %></b>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped">
          <tr>
            <th>Choices</th>
            <th>Total Votes</th>   
            <th>Vote Percentage</th>
          </tr>
        <% for answer in question.answers %>
            <tr>
              <td><%= answer.answer %></td>
              <td><%= answer.votes %></td>    
              <td><%= answer.vote_ratio.round(2) %></td>
            </tr>
        <% end %>
      </table>
    </div>  
  </div>
<% end %>