<p id="notice"><%= notice %></p>

<%= render "pages/product" %>
<%= render "pages/survey" %>
<%= render "pages/team" %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Welcome</h1>
      </div>
      <%= form_for(@visitor, remote: true) do |f| %>

        <div class="modal-body">
            <% if @visitor.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

                <ul>
                <% @visitor.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
                <%= f.select :age, options_for_select(["15 or lower", "16 - 35", "36 or higher"]), {prompt: "Select Age Group"}, {required: true, class: 'form-control input-lg'} %>
            </div>
            <div class="field">
                <%= f.select :gender, options_for_select(["Male", "Female"]), {prompt: "Select Gender"}, {required: true, class: 'form-control input-lg'} %>
            </div>
            <div class="field">
              <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :placeholder => "Enter Your Email", class: "form-control input-lg" %>
            </div>
            <div class="field">
              <%= f.number_field :zip, :required => true, :placeholder => "Enter Your Zip", class: "form-control input-lg" %>
            </div>
            <div class="actions">
              
            </div>
          
        </div>
        <div class="modal-footer">
          <%= f.submit 'Submit', :class => "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.survey-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    infinite: false
  });
});
</script>

