<!-- <p id="notice"><%= notice %></p> -->
<div>
<%= render "pages/hero" %>
<%= render "pages/slogan" %>
<% if false %>
  <%= render "pages/team" %>
  <%= render "pages/contact" %>
<% end %>
<%= render "pages/email" %>
</div>
<!-- Modal -->


<script type="text/javascript">
$(document).ready(function(){
  $('.survey-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    infinite: false,
    draggable: false,
    swipe: false,
    touchMove: false
  });
});
</script>
